* {
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 80vh;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 3vh;
  height: 3vh;
  margin: 0.5%;
  background-color: #1f1f1f; 
  transition: background-color 4s ease, box-shadow 5s ease;
  box-shadow: #1f1f1f 0 0 4px 2px;
}

.square:hover {
  transition-duration: 0s;

}